{% comment %}
  Renders cart drawer

  Usage:
  {% render 'cart-drawer' %}
{% endcomment %}

{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>

<style>
  .drawer {
    visibility: hidden;
  }
</style>

<cart-drawer class="drawer{% if cart == empty %} is-empty{% endif %}">
  <div id="CartDrawer" class="cart-drawer">
    <div id="CartDrawer-Overlay" class="cart-drawer__overlay"></div>
    <div
      class="drawer__inner gradient color-{{ settings.cart_color_scheme }}"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'sections.cart.title' | t }}"
      tabindex="-1"
    >
      {%- if cart == empty -%}
        <div class="drawer__inner-empty">
          <div class="cart-drawer__warnings center{% if settings.cart_drawer_collection != blank %} cart-drawer__warnings--has-collection{% endif %}">
            <div class="cart-drawer__empty-content">
              <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
              <button
                class="drawer__close"
                type="button"
                onclick="this.closest('cart-drawer').close()"
                aria-label="{{ 'accessibility.close' | t }}"
              >
                <span class="svg-wrapper">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </span>
              </button>
              <a href="{{ routes.all_products_collection_url }}" class="button">
                {{ 'general.continue_shopping' | t }}
              </a>

              {%- if shop.customer_accounts_enabled and customer == null -%}
                <p class="cart__login-title h3">{{ 'sections.cart.login.title' | t }}</p>
                <p class="cart__login-paragraph">
                  {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
                </p>
              {%- endif -%}
            </div>
          </div>
          {%- if settings.cart_drawer_collection != blank -%}
            <div class="cart-drawer__collection">
              {% render 'card-collection', card_collection: settings.cart_drawer_collection, columns: 1 %}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%} 
      <div class="drawer__header">
        <h2 class="drawer__heading">{{ 'sections.cart.title' | t }} ({{ cart.item_count }})</h2>
        <button
          class="drawer__close"
          type="button"
          onclick="this.closest('cart-drawer').close()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
        </button>
      </div>
      {%- if settings.shipping_goal_price != blank -%}



        <shipping-bar class="cart-shipping_goal-wrap progress-bars"
         data-money-format="{{- shop.money_format | escape -}}"
          data-threshold="{{- settings.shipping_goal_price | times: 100 -}}"
          data-total-price="{{- cart.total_price -}}"
          data-show-currency-code="{{- settings.show_currency_codes -}}"
          data-empty="{%- if cart == empty -%} true {%- else -%} false {%- endif -%}"
         >
  {%- capture bar_html -%}
    <div class="progress-bar__wrapper hidden">

  
    <div class="progress-bar__progress " data-progress-bar>
      <span class="progress-bar__progress-inner" ></span>
    </div><!-- /.progress-bar__progress -->

      {% comment %} <span class="progress-icon">
                  <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.4462 4.22125L14.5712 2.03375C14.479 1.80172 14.319 1.60286 14.1121 1.46306C13.9052 1.32327 13.661 1.24902 13.4113 1.25H11.75V1C11.75 0.801088 11.671 0.610322 11.5303 0.46967C11.3897 0.329018 11.1989 0.25 11 0.25H1.5C1.16848 0.25 0.850537 0.381696 0.616117 0.616117C0.381696 0.850537 0.25 1.16848 0.25 1.5V8.5C0.25 8.83152 0.381696 9.14946 0.616117 9.38388C0.850537 9.6183 1.16848 9.75 1.5 9.75H2.37875C2.53387 10.1886 2.82116 10.5684 3.20105 10.837C3.58094 11.1056 4.03475 11.2498 4.5 11.2498C4.96525 11.2498 5.41906 11.1056 5.79895 10.837C6.17884 10.5684 6.46613 10.1886 6.62125 9.75H9.37875C9.53387 10.1886 9.82116 10.5684 10.201 10.837C10.5809 11.1056 11.0347 11.2498 11.5 11.2498C11.9653 11.2498 12.4191 11.1056 12.799 10.837C13.1788 10.5684 13.4661 10.1886 13.6213 9.75H14.25C14.5815 9.75 14.8995 9.6183 15.1339 9.38388C15.3683 9.14946 15.5 8.83152 15.5 8.5V4.5C15.4919 4.40546 15.4739 4.31203 15.4462 4.22125ZM11.75 2.75H13.2425L13.6425 3.75H11.75V2.75ZM4.5 9.75C4.35166 9.75 4.20666 9.70601 4.08332 9.6236C3.95999 9.54119 3.86386 9.42406 3.80709 9.28701C3.75032 9.14997 3.73547 8.99917 3.76441 8.85368C3.79335 8.7082 3.86478 8.57456 3.96967 8.46967C4.07456 8.36478 4.2082 8.29335 4.35368 8.26441C4.49917 8.23547 4.64997 8.25033 4.78701 8.30709C4.92406 8.36386 5.04119 8.45999 5.1236 8.58332C5.20601 8.70666 5.25 8.85166 5.25 9C5.25 9.19891 5.17098 9.38968 5.03033 9.53033C4.88968 9.67098 4.69891 9.75 4.5 9.75ZM10.25 7.13C9.84736 7.40064 9.54202 7.79316 9.37875 8.25H6.62125C6.46613 7.81137 6.17884 7.43162 5.79895 7.16302C5.41906 6.89443 4.96525 6.7502 4.5 6.7502C4.03475 6.7502 3.58094 6.89443 3.20105 7.16302C2.82116 7.43162 2.53387 7.81137 2.37875 8.25H1.75V5.75H10.25V7.13ZM10.25 4.25H1.75V1.75H10.25V4.25ZM11.5 9.75C11.3517 9.75 11.2067 9.70601 11.0833 9.6236C10.96 9.54119 10.8639 9.42406 10.8071 9.28701C10.7503 9.14997 10.7355 8.99917 10.7644 8.85368C10.7934 8.7082 10.8648 8.57456 10.9697 8.46967C11.0746 8.36478 11.2082 8.29335 11.3537 8.26441C11.4992 8.23547 11.65 8.25033 11.787 8.30709C11.9241 8.36386 12.0412 8.45999 12.1236 8.58332C12.206 8.70666 12.25 8.85166 12.25 9C12.25 9.19891 12.171 9.38968 12.0303 9.53033C11.8897 9.67098 11.6989 9.75 11.5 9.75ZM14 8.25H13.6213C13.4797 7.852 13.2293 7.50173 12.8985 7.23908C12.5677 6.97642 12.1697 6.81195 11.75 6.76437V5.25H14V8.25Z" fill="#020714"></path>
                  </svg>
           </span> {% endcomment %}
                  </div>
  {%- endcapture -%}



          {%- if settings.goal_text != blank  -%}
            <div class="cart_shipping_goal-text" data-progress-text>
               {{ settings.goal_text |  replace: "<p>", '' |  replace: '</p>',''   }}
            </div>
          {% endif %}

          {%- if settings.goal_success_text != blank  -%}
            <div class="cart_shipping_goal-text" data-success-text>
               {{ settings.goal_success_text  }}
            </div>
            
          {%- endif -%}

          
          {{ bar_html }}
        </shipping-bar>
        
      {%- endif -%}
      <cart-drawer-items
        view-event-payload="{{ cart | standard_event_data: 'view', context: 'dialog' | escape }}"
        view-event-trigger="manual"
        {% if cart == empty %}
          class=" is-empty"
        {% endif %}
      >
        <form
          action="{{ routes.cart_url }}"
          id="CartDrawer-Form"
          class="cart__contents cart-drawer__form"
          method="post"
        >
          <div id="CartDrawer-CartItems" class="drawer__contents js-contents">
            {%- if cart != empty -%}
              <div class="drawer__cart-items-wrapper">

                <table class="cart-items" role="table">
                  {% comment %} <thead role="rowgroup">
                    <tr role="row">
                      <th id="CartDrawer-ColumnProductImage" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.image' | t }}</span>
                      </th>
                      <th
                        id="CartDrawer-ColumnProduct"
                        class="caption-with-letter-spacing"
                        scope="col"
                        role="columnheader"
                      >
                        {{ 'sections.cart.headings.product' | t }}
                      </th>
                      <th
                        id="CartDrawer-ColumnTotal"
                        class="right caption-with-letter-spacing"
                        scope="col"
                        role="columnheader"
                      >
                        {{ 'sections.cart.headings.total' | t }}
                      </th>
                      <th id="CartDrawer-ColumnQuantity" role="columnheader">
                        <span class="visually-hidden">{{ 'sections.cart.headings.quantity' | t }}</span>
                      </th>
                    </tr>
                  </thead> {% endcomment %}

                  <tbody role="rowgroup">
                    {%- for item in cart.items -%}
                      <tr
                        id="CartDrawer-Item-{{ item.index | plus: 1 }}"
                        class="cart-item{% if item.parent_relationship.parent != null %} cart-item__nested-line{% endif %}"
                        role="row"
                        {% if item.parent_relationship.parent != null %}
                          aria-label="{{- 'products.product.nested_label' | t: title: item.product.title, parent_title: item.parent_relationship.parent.title | escape -}}"
                        {% endif %}
                      >
                        <td
                          class="cart-item__media"
                          role="cell"
                          headers="CartDrawer-ColumnProductImage"
                        >
                          {% if item.image %}
                            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                            <a href="{{ item.url }}" class="cart-item__link" tabindex="-1" aria-hidden="true"> </a>
                            <img
                              class="cart-item__image"
                              src="{{ item.image | image_url: width: 300 }}"
                              alt="{{ item.image.alt | escape }}"
                              loading="lazy"
                              width="150"
                              height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                            >
                          {% endif %}
                        </td>

                        <td class="cart-item__details" role="cell" headers="CartDrawer-ColumnProduct">
                          {%- if settings.show_vendor -%}
                            <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                          {%- endif -%}

                          <div class="cart-item__title">
                            <a href="{{ item.url }}" class="cart-item__name h4 break">
                              {{- item.product.title | escape -}}
                            </a>
                            {%- assign cart_disclosure_modal_id = 'CartDisclosureModal-drawer-' | append: item.key | replace: ':', '-' -%}
                            {%- render 'cart-disclosure-indicator',
                              product: item.product,
                              modal_id: cart_disclosure_modal_id
                            -%}
                          </div>

                          {%- if item.original_price != item.final_price -%}
                            <div class="cart-item__discounted-prices">
                              <span class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </span>
                              <s class="cart-item__old-price product-option">
                                {{- item.original_price | money -}}
                              </s>
                              <span class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </span>
                              <strong class="cart-item__final-price product-option">
                                {{ item.final_price | money }}
                              </strong>
                            </div>
                          {%- else -%}
                            <div class="product-option">
                              {{ item.original_price | money }}
                            </div>
                          {%- endif -%}

                          {%- if item.product.has_only_default_variant == false
                            or item.properties.size != 0
                            or item.selling_plan_allocation != null
                          -%}
                            <dl>
                              {%- if item.product.has_only_default_variant == false -%}
                                {%- for option in item.options_with_values -%}
                                  <div class="product-option">
                                    <dt>{{ option.name }}:</dt>
                                    <dd>
                                      {{ option.value -}}
                                      {%- unless forloop.last %}, {% endunless %}
                                    </dd>
                                  </div>
                                {%- endfor -%}
                              {%- endif -%}

                              {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                  <div class="product-option">
                                    <dt>{{ property.first }}:</dt>
                                    <dd>
                                      {%- if property.last contains '/uploads/' -%}
                                        <a
                                          href="{{ property.last }}"
                                          class="link"
                                          target="_blank"
                                          aria-describedby="a11y-new-window-message"
                                        >
                                          {{ property.last | split: '/' | last }}
                                        </a>
                                      {%- else -%}
                                        {{ property.last }}
                                      {%- endif -%}
                                    </dd>
                                  </div>
                                {%- endif -%}
                              {%- endfor -%}
                            </dl>

                            <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                          {%- endif -%}

                          <ul
                            class="discounts list-unstyled"
                            role="list"
                            aria-label="{{ 'customer.order.discount' | t }}"
                          >
                            {%- for discount in item.line_level_discount_allocations -%}
                              <li class="discounts__discount">
                                {{- 'icon-discount.svg' | inline_asset_content -}}
                                {{ discount.discount_application.title }}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </td>

                         <td class="cart-item__totals right" role="cell" headers="CartDrawer-ColumnTotal">
                          {%- render 'loading-spinner' -%}
                          {% comment %} <div class="cart-item__price-wrapper">
                            {%- if item.original_line_price != item.final_line_price -%}
                              <div class="cart-item__discounted-prices">
                                <span class="visually-hidden">
                                  {{ 'products.product.price.regular_price' | t }}
                                </span>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                                <span class="visually-hidden">
                                  {{ 'products.product.price.sale_price' | t }}
                                </span>
                                <span class="price price--end">
                                  {{ item.final_line_price | money }}
                                </span>
                              </div>
                            {%- else -%}
                              <span class="price price--end">
                                {{ item.original_line_price | money }}
                              </span>
                            {%- endif -%}

                            {%- if item.variant.available and item.unit_price_measurement -%}
                              {% render 'unit-price',
                                price: item.unit_price,
                                measurement: item.unit_price_measurement
                              %}
                            {%- endif -%}
                          </div> {% endcomment %}
                        </td> 
                        {%- liquid
                          assign has_qty_rules = false
                          if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                            assign has_qty_rules = true
                          endif

                          assign has_vol_pricing = false
                          if item.variant.quantity_price_breaks.size > 0
                            assign has_vol_pricing = true
                          endif
                        -%}
                        <td
                          class="cart-item__quantity {% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}"
                          role="cell"
                          headers="CartDrawer-ColumnQuantity"
                        >
                          <quantity-popover>
                            <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                              <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                                <quantity-input class="quantity cart-quantity">
                                  <button
                                    class="quantity__button"
                                    name="minus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.decrease'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-minus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                  <input
                                    class="quantity__input"
                                    type="number"
                                    data-quantity-variant-id="{{ item.variant.id }}"
                                    data-quantity-line-key="{{ item.key }}"
                                    name="updates[]"
                                    value="{{ item.quantity }}"
                                    {% # theme-check-disable %}
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    min="0"
                                    data-min="{{ item.variant.quantity_rule.min }}"
                                    {% if item.variant.quantity_rule.max != null %}
                                      max="{{ item.variant.quantity_rule.max }}"
                                    {% endif %}
                                    step="{{ item.variant.quantity_rule.increment }}"
                                    {% # theme-check-enable %}
                                    aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                    id="Drawer-quantity-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                  <button
                                    class="quantity__button"
                                    name="plus"
                                    type="button"
                                    {% if item.instructions and item.instructions.can_update_quantity == false %}
                                      disabled
                                    {% endif %}
                                  >
                                    <span class="visually-hidden">
                                      {{-
                                        'products.product.quantity.increase'
                                        | t: product: item.product.title
                                        | escape
                                      -}}
                                    </span>
                                    <span class="svg-wrapper">
                                      {{- 'icon-plus.svg' | inline_asset_content -}}
                                    </span>
                                  </button>
                                </quantity-input>
                              </div>
                              <cart-remove-button
                                id="CartDrawer-Remove-{{ item.index | plus: 1 }}"
                                data-index="{{ item.index | plus: 1 }}"
                              >
                                <button
                                  type="button"
                                  class="button button--tertiary cart-remove-button"
                                  aria-label="{{ 'sections.cart.remove_title' | t: title: item.title | escape }}"
                                  data-variant-id="{{ item.variant.id }}"
                                  {% if item.instructions and item.instructions.can_remove == false %}
                                    class="hidden"
                                  {% endif %}
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-remove.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                              </cart-remove-button>
                            </div>
                            {%- if has_qty_rules or has_vol_pricing -%}
                              <button
                                type="button"
                                class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary"
                                aria-expanded="false"
                              >
                                <span class="svg-wrapper">
                                  {{- 'icon-info.svg' | inline_asset_content -}}
                                </span>
                                <span>
                                  {%- if has_vol_pricing -%}
                                    {{ 'products.product.volume_pricing.note' | t }}
                                  {%- elsif has_qty_rules -%}
                                    {{ 'products.product.quantity.note' | t }}
                                  {%- endif -%}
                                </span>
                              </button>
                            {%- endif -%}
                            {%- if has_vol_pricing or has_qty_rules -%}
                              <div
                                class="cart-items__info global-settings-popup quantity-popover__info"
                                tabindex="-1"
                                hidden
                              >
                                {%- if has_qty_rules == false -%}
                                  <span class="volume-pricing-label caption">
                                    {{- 'products.product.volume_pricing.title' | t -}}
                                  </span>
                                {%- endif -%}
                                <div class="quantity__rules caption">
                                  {%- if item.variant.quantity_rule.increment > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.multiples_of'
                                        | t: quantity: item.variant.quantity_rule.increment
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.min > 1 -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.min_of'
                                        | t: quantity: item.variant.quantity_rule.min
                                      -}}
                                    </span>
                                  {%- endif -%}
                                  {%- if item.variant.quantity_rule.max != null -%}
                                    <span class="divider">
                                      {{-
                                        'products.product.quantity.max_of'
                                        | t: quantity: item.variant.quantity_rule.max
                                      -}}
                                    </span>
                                  {%- endif -%}
                                </div>
                                <button
                                  class="button-close button button--tertiary"
                                  type="button"
                                  aria-label="{{ 'accessibility.close' | t }}"
                                >
                                  <span class="svg-wrapper">
                                    {{- 'icon-close.svg' | inline_asset_content -}}
                                  </span>
                                </button>
                                {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                  <volume-pricing class="parent-display">
                                    <ul class="list-unstyled">
                                      <li>
                                        <span>{{ item.variant.quantity_rule.min }}+</span>
                                        <span>{{ item.variant.price | money_with_currency }}/ea</span>
                                      </li>
                                      {%- for price_break in item.variant.quantity_price_breaks -%}
                                        <li>
                                          <span>
                                            {{- price_break.minimum_quantity -}}
                                            <span aria-hidden="true">+</span></span
                                          >
                                          <span>{{ price_break.price | money_with_currency }}/ea</span>
                                        </li>
                                      {%- endfor -%}
                                    </ul>
                                  </volume-pricing>
                                {%- endif -%}
                              </div>
                            {%- endif -%}
                            <div
                              id="CartDrawer-LineItemError-{{ item.index | plus: 1 }}"
                              class="cart-item__error"
                              role="alert"
                            >
                              <small class="cart-item__error-text"></small>
                              <span class="svg-wrapper">
                                {{- 'icon-error.svg' | inline_asset_content -}}
                              </span>
                            </div>
                          </quantity-popover>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              </div>
            {%- endif -%}
            <p id="CartDrawer-LiveRegionText" class="visually-hidden" role="status"></p>
            <p id="CartDrawer-LineItemStatus" class="visually-hidden" aria-hidden="true" role="status">
              {{ 'accessibility.loading' | t }}
            </p>
          </div>
          <div id="CartDrawer-CartErrors" role="alert"></div>
        </form>
      </cart-drawer-items>
      <div class="drawer__footer">
        <div class="upsel-product_wrap">
          {%- if settings.heading != blank -%}
            <div class="upsel-product_wrap_title">
              <h4>{{ settings.heading }}</h4>
            </div> 
            
          {%- endif -%}
           <div class="upsel-product_product">
             <div class="swiper cart_drawer-upsel">
              <div class="swiper-wrapper">
                {% for product in settings.product_list %}
                  <div class="swiper-slide cart_drawer-item">
                       <div class="cart_drawer-upsel_image">
                        <a href="{{ product.url }}">
                          {% render 'image',
                                           image: product.featured_image,
                                           sizes: '120px',
                                             width: 120,
                                           widths: '32,64,80,90,100,110,120',
                                           placeholder: 'detailed-apparel-1'
                                           %}
                          </a>
                                    <upsel-product class="upsel_cart-product-add">
                                      {% form 'product', product, class:"product-form-upsel" %}
                                       <input type="hidden" value="{{ product.selected_or_first_available_variant.id }}" name="id">
                                        <button type="submit" class="product-form__submit"  
                                         {% unless product.selected_or_first_available_variant.available %}
                                            disabled
                                          {% endunless %}>
                                         
                                          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                                 <g clip-path="url(#clip0_9044_6441)">
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M5.19697 2.9697C5.19697 2.14964 5.86176 1.48485 6.68182 1.48485C7.5019 1.48485 8.16667 2.14964 8.16667 2.9697V4.45455H5.19697V2.9697ZM3.71212 4.45455V2.9697C3.71212 1.32958 5.0417 0 6.68182 0C8.32191 0 9.65152 1.32958 9.65152 2.9697V4.45455H11.5076C11.8789 4.45455 12.1931 4.7288 12.2432 5.09666L12.5678 7.4771C9.66384 7.86599 7.42424 10.3533 7.42424 13.3636C7.42424 13.6151 7.43983 13.8628 7.4702 14.1061H0.742432C0.528031 14.1061 0.324102 14.0134 0.183114 13.8519C0.042125 13.6903 -0.0221553 13.4757 0.00681252 13.2633L1.12045 5.09666C1.17061 4.7288 1.4848 4.45455 1.85607 4.45455H3.71212ZM17.8182 13.3636C17.8182 15.8238 15.8238 17.8182 13.3636 17.8182C10.9035 17.8182 8.90909 15.8238 8.90909 13.3636C8.90909 10.9035 10.9035 8.90909 13.3636 8.90909C15.8238 8.90909 17.8182 10.9035 17.8182 13.3636ZM10.7652 14.1061H12.6212V15.9621H14.1061V14.1061H15.9621V12.6212H14.1061V10.7652H12.6212V12.6212H10.7652V14.1061Z" fill="white"></path>
                                                 </g>
                                                 <defs>
                                                   <clipPath id="clip0_9044_6441">
                                                     <rect width="17.8182" height="17.8182" fill="white"></rect>
                                                   </clipPath>
                                                 </defs>
                                               </svg>
                                        </button>
                                     {% endform %}

                                    </upsel-product>
                                            {% comment %} <div class="upsel_cart-product-add">
                                              
                                            </div> {% endcomment %}
                       </div>
                       <div class="cart_drawer-upsel_content">
                          <a href="{{ product.url }}">{{ product.title }}</a>
                            <span>{{ product.price |  money }}</span>
                       </div>
                    
                  </div>

                {% endfor %}
              </div>
            </div>
           </div>

        </div> 
        {%- if settings.show_cart_note -%}
          <details id="Details-CartDrawer">
            <summary>
              <span class="summary__title">
                {{ 'sections.cart.note' | t }}
                {{- 'icon-caret.svg' | inline_asset_content -}}
              </span>
            </summary>
            <cart-note class="cart__note field">
              <label class="visually-hidden" for="CartDrawer-Note">{{ 'sections.cart.note' | t }}</label>
              <textarea
                id="CartDrawer-Note"
                class="text-area text-area--resize-vertical field__input"
                name="note"
                placeholder="{{ 'sections.cart.note' | t }}"
              >{{ cart.note }}</textarea>
            </cart-note>
          </details>
        {%- endif -%}

        <!-- Start blocks -->
        <!-- Subtotals -->

        <div class="cart-drawer__footer" {{ block.shopify_attributes }}>
          <div>
            {%- if cart.cart_level_discount_applications.size > 0 -%}
              <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                {%- for discount in cart.cart_level_discount_applications -%}
                  <li class="discounts__discount discounts__discount--end">
                    {{- 'icon-discount.svg' | inline_asset_content -}}
                    {{ discount.title | escape }}
                    (-{{ discount.total_allocated_amount | money }})
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </div>

          <div class="totals" role="status">
            <h2 class="totals__total">{{ 'sections.cart.estimated_total' | t }}</h2>
            <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
          </div>

          <small class="tax-note caption-large rte">
            {%- if cart.duties_included and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_and_taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_and_taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_included_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_included_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.duties_included_taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- elsif cart.duties_included == false and cart.taxes_included == false -%}
              {%- if shop.shipping_policy.body == blank -%}
                {{ 'sections.cart.taxes_at_checkout_shipping_at_checkout_without_policy' | t }}
              {%- else -%}
                {{
                  'sections.cart.taxes_at_checkout_shipping_at_checkout_with_policy_html'
                  | t: link: shop.shipping_policy.url
                }}
              {%- endif -%}
            {%- endif -%}
          </small>
        </div>

        <!-- CTAs -->

        <div class="cart__ctas" {{ block.shopify_attributes }}>
          <button
            type="submit"
            id="CartDrawer-Checkout"
            class="cart__checkout-button button"
            name="checkout"
            form="CartDrawer-Form"
            {% if cart == empty %}
              disabled
            {% endif %}
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>
      </div>
    </div>
  </div>
</cart-drawer>
